@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
} */

/* .container-1 {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

.card-1 {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  height: 430px;
  margin-left: 70px;
  margin-top: 20px;

}

.card-header-1 img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-body-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  padding-top: 10px;
  min-height: 50%;
}

.tag-1 {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #fff;
  height: 22px;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tags-container{
  display: flex;
  flex-wrap: wrap;
  height: 54px;
}

.tag-color-0 {
  background-color: #47bcd4;
}

.tag-color-1 {
  background-color: #5e76bf;
}

.tag-color-2 {
  background-color: #cd5b9f;
}

.tag-color-3 {
  background-color: #47bcd4;
}

.tag-color-4 {
  background-color: #5e76bf;
}

.tag-color-5 {
  background-color: #cd5b9f;
}

.tag-color-6 {
  background-color: #47bcd4;
}

.tag-color-7 {
  background-color: #5e76bf;
}

.tag-color-8 {
  background-color: #cd5b9f;
}

.tag-color-9 {
  background-color: #47bcd4;
}

.tag-color-10 {
  background-color: #5e76bf;
}

.tag-color-11 {
  background-color: #cd5b9f;
}

.card-body-p {
  font-size: 13px;
  margin: 0 0 10px;
  height: 58.5px;
}

.user-1 {
  display: flex;
  margin-top: auto;
}

.user-img-1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info-h5 {
  margin: 0;
  font-size: 14px;
}

.user-small {
  color: #545d7a;
  font-size: 10px;
}

.heading{
  font-size: 17px;
  margin: 3px;
  font-weight: 800;
  height: 40.8px;
  
}

.likeBtn{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 40px;
  width: 150px;
  font-size: 25px;
  /* visibility: hidden; */
}

.likeCount{
  font-size: 18px;
  margin-right: 5px;

}

